<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>숨결 서비스 - 로그인</title>
    <link rel="stylesheet" href="../static/style.css"/>
</head>

<body>

<div class="container" id="auth-container">
    <div id="login-container">
        <h1>숨결</h1>
        <h2>병원 관계자 로그인</h2>
        <form id="login-form">
            <div class="form-group">
                <label for="login-email">이메일</label>
                <input type="email" id="login-email" required />
            </div>
            <div class="form-group">
                <label for="login-password">비밀번호</label>
                <input type="password" id="login-password" required />
            </div>
            <button type="submit" class="btn">로그인</button>
        </form>
        <p class="toggle-link">
            계정이 없으신가요? <a href="/register" id="show-signup-link">회원가입</a>
        </p>
    </div>
</div>

<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
<script src="../static/script.js"></script>
</body>
</html>